# `a` with no arguments opens the current directory in VS Code Editor, otherwise
# opens the given location
function a() {
	if [ $# -eq 0 ]; then
		code .
	else
		code "$@"
	fi
}

# `o` with no arguments opens the current directory, otherwise opens the given
# location
function o() {
	if [ $# -eq 0 ]; then
		open .
	else
		open "$@"
	fi
}

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_"
}

# Clean Docker containers, images and volumes
function dockerclean() {
	docker rm $(docker ps -a -q)
	docker rmi $(docker images -q)
	docker volume rm $(docker volume ls -qf dangling=true)
}

# Start an interactive Ubuntu Docker container with the present directory mounted
function dockerhere() {
	docker run -v $(pwd):/root/files -it ubuntu /bin/bash
}

# Change to Terraform workspace and apply config
function tf-apply() {
	terraform workspace select "$@" && terraform apply -var-file=workspaces/$@.tfvars
}
