[user]
	name = Chris Atkin
	email = atkinchris@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIETcJv+ba7N0RxYyzADAyB1MOu5WkgjM4FRBJpU5LHyB

# Include a different Git config for work remotes
# The first character of the name is removed, as there are different cases and prefixes between different Orgs.
[includeIf "hasconfig:remote.*.url:git@github.com:*ainsbury*/**/*"]
	path = .work.gitconfig
[includeIf "hasconfig:remote.*.url:git@github.com:*ectar*/**/*"]
	path = .work.gitconfig

[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[alias]
	# Add all files and check status
	aa = !git add -u && git add . && git status -s

	# View abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	# View the current working tree status using the short format
	s = status -s

	# Amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD
[core]
	# Make `git rebase` safer on OS X
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

[diff "sopsdiffer"]
	textconv = sops -d
[pull]
	ff = only
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
