[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Chris Atkin
	email = atkinchris@gmail.com
[push]
	default = simple
[alias]
	# Add all files and check status
	aa = !git add -u && git add . && git status -s

	# View abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	# View the current working tree status using the short format
	s = status -s

	# Amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD

	pullr = !git submodule update --init --recursive

	# Remove branches that have already been merged with master
	# a.k.a. ‘delete merged’
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
[core]
	# Make `git rebase` safer on OS X
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false
