"*":
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "monokai-seti"
    ]
  editor:
    fontSize: 16
  fonts:
    fontFamily: "Hasklig"
    preview: "The Quick brown fox { 0 !== \"O\" } "
  "git-diff":
    showIconsInEditorGutter: true
  linter:
    errorPanelHeight: 50
  "one-dark-ui":
    tabSizing: "Even"
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
