"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "monokai-seti"
    ]
  editor: {}
  "exception-reporting":
    userId: "211c17d9-a5aa-0099-b619-6249c738cfb4"
  fonts:
    fontFamily: "Hasklig"
  "tree-view": {}
  welcome:
    showOnStartup: false
